body {
    width: 100%;
    margin: 0;
    font-family: 'Smythe', cursive;
}

main{
    max-width: 600px;
    margin-top: 0;
    padding: 0;
    width: 100%;
    margin: auto;
}

header{
    color: white;
    background-image: url(images/bg-img.png);
    background-repeat: no-repeat;
    max-width: 550px;
    width: 100%;
    background-position: center right;
    background-size: cover;
    padding: 10px 30px;
}

.menu, .order {
    width: 100%;
    margin: 0 auto;
}

#menu {
    padding: 20px;
    max-width: 600px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid #D2D2D2;
}

.emoji {
    font-size: 70px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-right: auto;
}

.info > p {
    margin: 0;
}

.item-name {
    font-size: 28px;
}

.ingredients {
    color: #8B8B8B;
    font-size: 16px;
}

.price {
    font-size: 20px;
}

.addBtn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #DEDEDE;
    background-color: transparent;
    cursor: pointer;
    font-size: 32px;
    font-family: 'Inter', sans-serif;
}

.order-list {
    height: 40px;
    font-size: 28px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
}

.remove {
    display: inline-block;
    height: 20px;
    margin-right: auto;
    margin-left: 10px;
    border: none;
    background-color: transparent;
    color: #BBBBBB;
    cursor: pointer;
}

.total-price {
    border-top: 2px solid  #393333;
    margin: 10px 20px;

}

.order-price {
    font-size: 20px;
}

#complete-order {
    display: flex;
    justify-content: center;
}

.complete-btn {
    width: 90%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-size: 16px;
    padding: 20px;
    color: white;
    background-color: #16DB99;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

.complete-btn:hover{
 background-color: #04ffab;
}

/* Card Payment Modal */

#card {
    text-align: center;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 400px;
    width: 350px;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 2px rgb(182, 182, 182);
    background-color: #ffffff;
    color: rgb(59, 59, 59);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hidden {
    display: none;
}

.card > h2 {
    font-size: 24px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input, .submit-btn {
    padding: 10px;
    width: 85%;
    border-radius: 4px;
    padding: 20px 0px;
    margin: auto;
    border: 1px solid #757575;
}

input {
    text-indent: 10px;
}

.submit-btn {
    margin-top: 15px;
    background-color: #16DB99;
    color: white;
    border: none;
    font-weight: 700;
}